---
import "@/styles/starwind.css";

const { title = "Default Title" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <!-- Dark mode script -->
    <script is:inline>
      function initTheme() {
        const colorTheme = localStorage.getItem("colorTheme");
        if (!colorTheme) {
          if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
            document.documentElement.classList.add("dark");
            localStorage.setItem("colorTheme", "dark");
          } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("colorTheme", "light");
          }
        } else {
          if (colorTheme === "dark") {
            document.documentElement.classList.add("dark");
          } else if (colorTheme === "light") {
            document.documentElement.classList.remove("dark");
          } else if (colorTheme === "system") {
            const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
            document.documentElement.classList.toggle("dark", prefersDark);
          }
        }
      }

      initTheme();

      document.addEventListener("astro:after-swap", initTheme);
    </script>

  </head>
  <body class="
  min-h-screen
  bg-zinc-950
  text-zinc-100
  antialiased
    ">
    <!-- Unique page content will be injected where the slot is -->
    <slot />
  </body>
</html>
